# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# Bin files
dinicloud.so
dinicloud.dylib
dinicloud.dll
dinicloud.a
dinicloud.lib
dinicloud-test-*
dinicloud

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

#Idea
.idea/
dinicloud.iml

# Custom folders
project/
classes/
